.explore {
    margin-top: var(--section-margin);
}

.explore .my-container .box img {
    width: 100%;
}

.explore .my-container .box h3 {
    font-size: 17px;
    margin: 10px 0 20px;
}
